@charset "utf-8";
.red{
    font-size: 70%;
    color: white;
    background-color: red;
    border-radius: 30%;
}
td{
    padding: 0.5em;
}
.top{
    vertical-align: top;
    background-color: navy;
    color: white;
}
.color1{
    background-color: navy;
    color: white;
}
.color2{
    background-color: snow;
}
select{
    margin: 0.5em;
}
body{
    background-color: gray;
}